.home {
    width: 100%;
    height: 100%;
}

.video-container {
    background-color: #171717;
}

video {
    width: 100%;
    height: 700px;
    object-fit: fill;
}

.header {
    height: 100px;
}

body
{
    margin: 0;
    padding: 0;

    background: #171717;
    color: #cdcdcd;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    width: 900px;
}

.container_about {
    margin: 0 auto;
    width: 100%;
}

.wraper {
    width: 100%;
    background-color: #171717;
    padding-top: 100px;
}

.wraper_about {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('./images/green.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.filter {
    padding-top: 100px;
    background-color: rgba(23,23,23,0.5);
}

.about_us {
    color: #ffffff;
    text-align: center;
    padding-bottom: 100px;
}

.about_us .about_title {
    font-weight: bold;
    font-size: 20px;
}

hr {
    height: 1px;
    background-color: #cdcdcd;
}

.space_l {
    text-align: left;
    font-weight: bold;
}

.space_r {
    text-align: right;
    font-weight: bold;
}

.photo_block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-top: 25px;
}

.photo_text {
    display: flex;
    color: #cdcdcd;
    padding: 20px;
    align-content: center;
    align-items: center;
}

.photo_text > span {
    display: flex;
    font-weight: bold;
    font-size: 40px;
}

.photo_text > div {
    display: flex;
    padding-left: 20px;
}

img {
    display: flex;
    width: 300px;
    height: 450px;
    border-radius: 10px;
}

/* 버튼의 디자인과 위치를 정의 */
#menuToggle
{
    display: block;
    position: relative;
    top: 50px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

/* 메뉴 항목과 디자인과 색상을 지정 */
#menuToggle a
{
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

/* 마우스를 가져다 대었을 때 색이 바뀌도록 */
#menuToggle a:hover
{
    color: #cdcdcd;
}

/* 토글 버튼의 모양과 위치를 설정 */
#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}

/* 상단의 메뉴 아이콘을 나타냄 -> input:checked 상태가 토글 되어 메뉴가 나타나거나 사라짐*/
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/* 실제 메뉴가 보여지는 영역을 지정, 토글 상태에 따라 나타나고 사라짐 */
#menu
{
    position: absolute;
    width: 300px;
    height: 600px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    /* 애니메이션 효과 */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul
{
    transform: none;
}

.logo {
    top: 200px;
    display: flex;
    justify-content: center;
    font-family: 'Arvo', serif;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: #cdcdcd;
}

.map {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    color: #cdcdcd;
}

.map_text {
    border-left: 3px solid #cdcdcd;
    padding-left: 20px;
    margin-left: 20px;
}

.map span {
    font-size: 30px;
}
